# Игнорируем скомпилированные бинарные файлы
*.exe
*.out

# Игнорируем директории build и vendor (если используешь)
build/
vendor/

# Файлы IDE или редактора
.idea/
.vscode/

# Игнорируем артефакты работы Go
*.log
